<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
    <link rel="stylesheet" href="/css/logout.css">
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    <p>Welcome to the Company Home</p>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" class="btn-logout" value="Logout">
    </form>
</body>
</html>
