<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form action="#" th:action="@{/authenticateUser}" method="post">
        <p>
            <label class="login-error" for="username">Username:</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </p>
        <div th:if="${param.error}">
            <p class="login-error">*Sorry, you entered invalid username/password</p>
        </div>
        <input type="submit" value="Login">
    </form>
</body>
</html>